@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body, .App{
    font-family: 'Montserrat', sans-serif !important;
}

.btn-theme{
  @apply bg-theme text-black font-bold rounded-lg;
}
input{
  @apply border p-2 rounded-sm;
}

.info-card{
  @apply py-8 px-12 flex;
}
.info-card h2{
  @apply text-xl font-bold mb-2;
}
.info-card .icon-wrapper{
  @apply h-20 w-20 flex flex-shrink-0 my-auto -ml-[5.5em] mr-6 rounded-full;
}
.info-card .icon-wrapper img{
  @apply h-10 m-auto object-contain;
}
.card{
  @apply rounded-lg border border-grey shadow-md shadow-slate-100;
}

.container-sm{
  max-width: 1300px;
}
.container-xs{
  max-width: 860px;
}